.header {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 27px;
	font-variant-caps: all-small-caps;
	text-align: center;
	color: black;
}
.second {
	letter-spacing: 1px;
	font-size: 17px;
	text-align: center;
	font-variant: small-caps;
	font-style: normal;
	text-align: center;
	max-width: 300px;
	color: black;
	transition-duration: 4s;
}

.container {
	background-color: whitesmoke;
	padding: 10px;
	opacity: 0.9;
	transition-duration: 0.8s;
	position: relative;
	margin-top: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	
}
.container:hover {
	opacity: .9;
	background-color: transparent;
	color: white;
}
.container p:hover {
	color: white;
}
